{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="text">
                    Ha követed a trendeket, és ügyelsz testi-lelki
                    jólétedre, a  Fonte Verde a Te ásványvized!
                    <img src="{{ asset('images/home_pic_1.jpg') }}" class="img-responsive margin-center" style="padding-top: 7px;">
                </div>
            </div>
            <div class="col-md-4">
                <img src="{{ asset('images/home_pic_2.jpg') }}" class="img-responsive margin-center">
            </div>
            <div class="col-md-4">
                <div class="text">
                    Gyere, lépj be a Fonte Verde világába, és merülj el az üdítő részletekben...
                    <img src="{{ asset('images/home_pic_3.jpg') }}" class="img-responsive margin-center" style="padding-top: 17px;">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

